Repository wellwelwel/poku, pull requests merged in 2024-07, with the labels that each got.

#489 chore(website): remove legacy dependencies
  website/.eslintrc.json
  website/package-lock.json
  website/package.json
  website/src/components/FAQ.tsx
  website/src/pages/index.tsx
Labels: website, dependencies

#490 fix(beforeEach and afterEach): show proper callback name
  src/services/each.ts
Labels: test runner

#492 fix(logs): respect `quiet` option
  src/services/each.ts
  src/services/run-tests.ts
  test/e2e/before-and-after-each.test.ts
Labels: cli

#491 chore(main): release 1.20.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#493 feat(watch): reset and rerun all tests by entering `rs`
  package.json
  src/bin/index.ts
  src/modules/helpers/list-files.ts
  src/services/watch.ts
  test/c8.test.ts
  website/docs/documentation/poku/options/watch.mdx
Labels: watch

#503 chore: remove unnecessary dependencies
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies

#505 chore(deps): replace `eslint` and `prettier` by `@biomejs/biome`
  .eslintignore
  .eslintrc.json
  .github/workflows/ci_lint.yml
  .prettierignore
  .prettierrc
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
  src/bin/index.ts
  src/modules/helpers/list-files.ts
  src/services/write.ts
  tools/compatibility/deno.ts
  tsconfig.json
Labels: dependencies

#506 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#507 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#508 chore(deps): remove `esbuild`
  package-lock.json
  package.json
  src/polyfills/deno.mts
  tools/build/check-deno-polyfill.ts
  tsconfig.json
  tsconfig.mjs.json
Labels: dependencies

#502 chore(main): release 1.21.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#511 docs: tutorials and new home page
  README.md
  package.json
  website/docs/index.mdx
  website/docs/roadmaps/beginner.mdx
  website/docs/roadmaps/mid-level.mdx
  website/package-lock.json
  website/package.json
  website/src/components/Confetti.tsx
  website/src/components/Logo.tsx
  website/src/css/features.scss
  website/src/css/home.scss
  website/src/pages/index.tsx
  website/src/svg/logotype.tsx
  website/static/img/assert-node.png
  website/static/img/assert-poku.png
  website/static/img/bg-home.jpg
  website/static/img/bg.svg
  website/static/img/favicon.svg
  website/static/img/junior.svg
  website/static/img/logo-dark.svg
  website/static/img/maintainer.svg
  website/static/img/mid-level.svg
  website/static/img/mysql.svg
  website/static/img/npm.svg
  website/static/img/open.svg
  website/static/img/parallel.png
  website/static/img/senior.svg
  website/static/img/sequential.png
  website/static/img/silhouette-darker.svg
  website/static/img/silhouette-light.svg
  website/static/img/silhouette.svg
Labels: website, documentation

#515 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#516 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#517 docs: improve tutorials and homepage
  .github/assets/readme/assert-node.png
  .github/assets/readme/assert-poku.png
  .github/assets/readme/bun.svg
  .github/assets/readme/deno.svg
  .github/assets/readme/node-js.svg
  .github/assets/readme/parallel.png
  .github/assets/readme/plus.svg
  .github/assets/readme/sequential.png
  .github/assets/readme/typescript.svg
  .github/dependabot.yml
  website/docs/roadmaps/beginner.mdx
  website/docs/roadmaps/mid-level.mdx
  website/sidebars.ts
  website/src/css/home.scss
  website/src/pages/index.tsx
  website/static/img/bun.svg
  website/static/img/deno.svg
  website/static/img/mysql.svg
  website/static/img/node-js.svg
  website/static/img/open.svg
  website/static/img/social.png
  website/static/img/typescript.svg
Labels: website, documentation

#518 docs: improve documentation, example, and tutorials
  README.md
  benchmark/README.md
  website/docs/documentation/poku/include-files.mdx
  website/docs/examples/cjs-esm.mdx
  website/docs/examples/promises.mdx
  website/docs/index.mdx
  website/docs/philosophy.mdx
  website/docs/roadmaps/mid-level.mdx
  website/docs/tutorials/beginner.mdx
  website/docs/tutorials/cross-platform.mdx
  website/docs/tutorials/good-practices.mdx
  website/sidebars.ts
  website/src/components/Confetti.tsx
  website/src/pages/index.tsx
Labels: website, documentation

#522 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#523 feat(skip): allow to skip tests
  .nycrc
  .vscode/settings.json
  CONTRIBUTING.md
  biome.json
  fixtures/before-after-each/integration.test.cjs
  fixtures/deno/require.cjs
  fixtures/docker/src/docker-compose-server.js
  fixtures/docker/src/dockerfile-server.js
  fixtures/sintax/big-int.ts
  src/configs/poku.ts
  src/modules/essentials/assert.ts
  src/modules/helpers/assert-promise.ts
  src/modules/helpers/exit.ts
  src/modules/helpers/skip.ts
  src/modules/helpers/wait-for.ts
  src/modules/index.ts
  src/parsers/output.ts
  test/e2e/cli.test.ts
  test/e2e/runners.test.ts
  test/integration/before-and-after-each/external-file-update.test.ts
  test/integration/containers/test-docker-compose.test.ts
  test/integration/containers/test-dockerfile.test.ts
  test/integration/import.test.ts
  test/unit/deno/cjs.test.ts
  test/unit/map-tests.test.ts
  test/unit/watch.test.ts
  website/docs/documentation/helpers/before-after-each/_category_.json
  website/docs/documentation/helpers/containers.mdx
  website/docs/documentation/helpers/processes/_category_.json
  website/docs/documentation/helpers/skip.mdx
  website/docs/documentation/helpers/startScript.mdx
  website/docs/documentation/helpers/startService.mdx
Labels: test runner

#524 chore(main): release 1.22.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#525 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#526 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#527 feat: add out-of-box support for `.env` files
  README.md
  fixtures/.env.test
  src/bin/index.ts
  src/modules/helpers/env.ts
  src/modules/index.ts
  src/services/env.ts
  test/c8.test.ts
  test/integration/env/set-env.test.ts
  test/integration/import.test.ts
  test/unit/env-services.test.ts
  website/docs/documentation/helpers/env.mdx
  website/docs/index.mdx
  website/src/pages/index.tsx
Labels: processes

#529 docs: improve README.md
  README.md
  package-lock.json
  package.json
  website/docs/index.mdx
  website/package-lock.json
  website/package.json
Labels: website, documentation

#531 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#532 chore(deps): remove `shx`
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: dependencies

#534 chore!: drop support for Node.js 6 and 7
  .github/workflows/ci_compatibility-nodejs.yml
  .nycrc
  .prettierrc
  package.json
  src/modules/helpers/create-service.ts
  src/parsers/time.ts
  src/polyfills/fs.ts
  src/polyfills/pad.ts
  src/services/format.ts
  test/compatibility/node-06.test.ts
  test/compatibility/node-07.test.ts
  test/docker/node/06.Dockerfile
  test/docker/node/07.Dockerfile
  test/unit/pad.test.ts
  tsconfig.json
  website/docs/philosophy.mdx
Labels: nodejs

#537 chore!: change `listFiles` helper from sync to async
  .nycrc
  src/modules/helpers/list-files-sync.ts
  src/modules/index.ts
Labels: list files

#538 chore!: drop `assertPromise` helper
  src/modules/helpers/assert-promise.ts
  src/modules/index.ts
  test/integration/assert/assert-promise-no-message.test.ts
  test/integration/assert/assert-promise.test.ts
  test/integration/import.test.ts
  website/docs/documentation/helpers/before-after-each/in-code.mdx
Labels: assert

#539 chore!: drop `beforeEach` and `afterEach` support for each `assert`
  src/@types/each.ts
  src/configs/each.ts
  src/modules/helpers/each.ts
  src/modules/helpers/it.ts
  src/modules/helpers/test.ts
  src/services/assert.ts
  test/integration/assert/assert-each.test.ts
  test/integration/it/each/each-promise.test.ts
  test/integration/it/each/each.test.ts
  test/integration/test/each/each-promise.test.ts
  test/integration/test/each/each.test.ts
Labels: assert

#540 chore(deps): restaure `prettier`
  .github/workflows/ci_lint.yml
  .prettierignore
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
Labels: dependencies

#535 chore(main): release 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#542 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#548 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#549 chore(website): upgrade `poku`
  website/package-lock.json
  website/package.json
  website/test/unit/check-extensions.test.ts
Labels: website, dependencies

#552 docs: improve and update documentation
  .github/workflows/cd_publish.yml
  .github/workflows/ci_docs-website.yml
  .github/workflows/ci_lint.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  package.json
  website/docs/comparing.mdx
  website/docs/documentation/assert/index.mdx
  website/docs/documentation/helpers/before-after-each/per-file.mdx
  website/docs/documentation/helpers/containers.mdx
  website/docs/documentation/helpers/env.mdx
  website/docs/documentation/helpers/list-files.mdx
  website/docs/documentation/helpers/processes/get-pids.mdx
  website/docs/documentation/helpers/processes/kill.mdx
  website/docs/documentation/helpers/processes/wait-for-expected-result.mdx
  website/docs/documentation/helpers/startScript.mdx
  website/docs/documentation/helpers/startService.mdx
  website/docs/documentation/poku/include-files.mdx
  website/docs/documentation/poku/options/concurrency.mdx
  website/docs/documentation/poku/options/debug.mdx
  website/docs/documentation/poku/options/deno.mdx
  website/docs/documentation/poku/options/exclude.mdx
  website/docs/documentation/poku/options/fail-fast.mdx
  website/docs/documentation/poku/options/filter.mdx
  website/docs/documentation/poku/options/no-exit.mdx
  website/docs/documentation/poku/options/parallel.mdx
  website/docs/documentation/poku/options/platform.mdx
  website/docs/documentation/poku/options/quiet.mdx
  website/docs/examples/browser/_category_.json
  website/docs/examples/browser/react.mdx
  website/docs/examples/promises.mdx
  website/docs/index.mdx
  website/docs/philosophy.mdx
  website/docs/tutorials/beginner.mdx
  website/docs/tutorials/cross-platform.mdx
  website/docusaurus.config.ts
  website/package.json
  website/sidebars.ts
  website/static/img/poku.svg
Labels: documentation

#551 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#557 feat: support for config files (`json` and `jsonc`)
  .github/workflows/ci_benchmark.yml
  .github/workflows/ci_docs-website.yml
  .prettierrc
  README.md
  benchmark/README.md
  benchmark/package-lock.json
  benchmark/package.json
  fixtures/config-files/custom-file/custom.json
  fixtures/config-files/custom-file/test/foo.test.js
  fixtures/config-files/json-no-ext/.pokurc
  fixtures/config-files/json-no-ext/test/foo.test.js
  fixtures/config-files/json-rc/.pokurc.json
  fixtures/config-files/json-rc/test/foo.test.js
  fixtures/config-files/json/poku.json
  fixtures/config-files/json/test/foo.test.js
  fixtures/config-files/jsonc-no-ext/.pokurc
  fixtures/config-files/jsonc-no-ext/test/foo.test.js
  fixtures/config-files/jsonc-rc/.pokurc.jsonc
  fixtures/config-files/jsonc-rc/test/foo.test.js
  fixtures/config-files/jsonc/poku.jsonc
  fixtures/config-files/jsonc/test/foo.test.js
  fixtures/schemas/options.json
  package.json
  src/@types/list-files.ts
  src/@types/poku.ts
  src/bin/index.ts
  src/parsers/assert.ts
  src/parsers/options.ts
  src/polyfills/jsonc.ts
  test/e2e/config-files.test.ts
  website/.gitignore
  website/.prettierrc
  website/create-schemas.ts
  website/docs/documentation/poku/config-files.mdx
  website/docs/documentation/poku/options/_category_.json
  website/docs/documentation/poku/options/exclude.mdx
  website/docs/documentation/poku/options/fail-fast.mdx
  website/docs/documentation/poku/options/filter.mdx
  website/docs/documentation/poku/options/platform.mdx
  website/docs/examples/promises.mdx
  website/docs/index.mdx
  website/docs/philosophy.mdx
  website/package-lock.json
  website/package.json
  website/src/css/custom.scss
  website/src/pages/index.tsx
  website/static/schemas/.keep
Labels: test runner

#560 feat: support for config files (`js` and `cjs`)
  fixtures/config-files/custom-js-file/custom.js
  fixtures/config-files/custom-js-file/test/foo.test.js
  fixtures/config-files/json-no-ext/.pokurc
  fixtures/config-files/json/poku.json
  fixtures/config-files/jsonc-no-ext/.pokurc
  fixtures/config-files/jsonc/poku.jsonc
  fixtures/config-files/jsonc/test/foo.test.js
  fixtures/config-files/poku-config-cjs/poku.config.cjs
  fixtures/config-files/poku-config-cjs/test/foo.test.js
  fixtures/config-files/poku-config-js/poku.config.js
  fixtures/config-files/poku-config-js/test/foo.test.js
  src/@types/poku.ts
  src/bin/index.ts
  src/modules/index.ts
  src/parsers/options.ts
  test/e2e/config-files.test.ts
  website/docs/documentation/poku/config-files.mdx
Labels: test runner, documentation

#561 docs: improve config descriptions and intellisense
  fixtures/schemas/options.json
  src/@types/poku.ts
  src/bin/index.ts
  src/modules/index.ts
  src/parsers/options.ts
  website/docs/documentation/poku/config-files.mdx
Labels: documentation

#562 feat(cli): support for multiple paths in any position
  src/bin/index.ts
  src/parsers/get-arg.ts
  test/unit/args.test.ts
  website/docs/documentation/poku/config-files.mdx
  website/docs/documentation/poku/include-files.mdx
  website/src/components/History.tsx
  website/src/components/Stability.tsx
  website/src/css/_faq.scss
  website/src/css/_history.scss
  website/src/css/custom.scss
  website/src/css/stability/_dark.scss
  website/src/css/stability/_main.scss
Labels: cli, website

#558 chore(main): release 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#567 docs: improve contribution guides
  CONTRIBUTING.md
  README.md
  package.json
Labels: documentation

#568 feat: support for short and alternative flags
  README.md
  package.json
  src/bin/index.ts
  website/docs/documentation/poku/config-files.mdx
  website/docs/documentation/poku/include-files.mdx
  website/docs/documentation/poku/options/debug.mdx
  website/docs/documentation/poku/options/parallel.mdx
  website/docs/documentation/poku/options/platform.mdx
  website/docs/documentation/poku/options/quiet.mdx
  website/docs/documentation/poku/options/watch.mdx
  website/docs/tutorials/cross-platform.mdx
  website/src/components/StarHunter.tsx
Labels: cli

#577 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#582 fix: fix typings of `it()` and `test()` helpers
  src/modules/helpers/it.ts
  src/modules/helpers/test.ts
Labels: typings

#569 chore(main): release 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#583 docs: fix few typos
  website/docs/documentation/helpers/it.mdx
  website/docs/documentation/helpers/test.mdx
Labels: documentation

#586 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#587 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#593 chore(main): release 2.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#589 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#596 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#600 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#602 fix(Windows): ensure configuration file loading (`js` and `cjs`)
  fixtures/config-files/custom-cjs-file/custom.cjs
  fixtures/config-files/custom-cjs-file/test/foo.test.js
  src/parsers/options.ts
  test/e2e/config-files.test.ts
Labels: windows

#601 chore(main): release 2.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#607 chore(main): release 2.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#610 chore(deps): use monocart-coverage-reports
  .nycrc
  .prettierignore
  biome.json
  fixtures/fail-fast/parallel/.pokurc.json
  fixtures/fail-fast/parallel/test/a.test.ts
  fixtures/fail-fast/parallel/test/b.test.ts
  fixtures/fail-fast/parallel/test/c.test.ts
  fixtures/fail-fast/parallel/test/d.test.ts
  fixtures/fail-fast/sequential/.pokurc.json
  fixtures/fail-fast/sequential/test/a.test.ts
  fixtures/fail-fast/sequential/test/b.test.ts
  fixtures/fail/assert-fail-message.test.ts
  fixtures/fail/assert-fail.test.ts
  fixtures/fail/assert-if-error.test.ts
  fixtures/fail/assert.test.ts
  fixtures/sintax/invalid-file.js
  fixtures/watch/.pokurc.json
  fixtures/watch/test/a.test.ts
  fixtures/watch/test/b.test.ts
  fixtures/watch/test/sub/a.test.ts
  fixtures/watch/test/sub/b.test.ts
  fixtures/watch/test/sub/deep/.gitkeep
  package-lock.json
  package.json
  src/modules/essentials/assert.ts
  src/modules/essentials/poku.ts
  src/modules/essentials/strict.ts
  src/modules/helpers/container.ts
  src/modules/helpers/describe.ts
  src/modules/helpers/each.ts
  src/modules/helpers/env.ts
  src/modules/helpers/it.ts
  src/modules/helpers/list-files.ts
  src/modules/helpers/test.ts
  src/modules/helpers/wait-for.ts
  src/parsers/assert.ts
  src/parsers/find-file-from-stack.ts
  src/parsers/get-arg.ts
  src/parsers/options.ts
  src/parsers/output.ts
  src/parsers/time.ts
  src/services/assert.ts
  src/services/container.ts
  src/services/each.ts
  src/services/env.ts
  src/services/format.ts
  src/services/map-tests.ts
  src/services/run-test-file.ts
  src/services/run-tests.ts
  src/services/watch.ts
  src/services/write.ts
  test/e2e/before-and-after-each.test.ts
  test/e2e/fail-fast.test.ts
  test/e2e/failure.test.ts
  test/e2e/watch.test.ts
  test/helpers/capture-cli.test.ts
  test/integration/import.test.ts
  test/unit/define-configs.test.ts
  tsconfig.json
  tsconfig.test.json
Labels: dependencies

#605 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#612 chore: improve coverage transparency
  .gitignore
  .nycrc
  .nycrc/README.md
  .nycrc/_.jsonc
  .nycrc/darwin.jsonc
  .nycrc/linux.jsonc
  .nycrc/win32.jsonc
  .prettierignore
  README.md
  package-lock.json
  package.json
  src/modules/essentials/poku.ts
  src/modules/helpers/exit.ts
  src/modules/helpers/list-files.ts
  src/modules/helpers/wait-for.ts
  src/parsers/assert.ts
  src/services/assert.ts
  src/services/container.ts
  src/services/run-test-file.ts
  src/services/watch.ts
  test/unit/define-configs.test.ts
  tools/build/c8-file.ts
  tools/compatibility/comments.ts
Labels: documentation

#611 fix: always use half of available parallelism
  src/polyfills/cpus.ts
  src/services/run-tests.ts
  website/docs/documentation/poku/options/concurrency.mdx
Labels: documentation, performance

#616 fix(output): always list files at the end of a test run
  src/modules/essentials/poku.ts
  src/services/format.ts
Labels: output

#614 chore(main): release 2.2.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#618 docs: fix typos in the Config Files page
  website/docs/documentation/poku/config-files.mdx
Labels: documentation

#619 docs: add examples and use cases
  website/docs/documentation/poku/include-files.mdx
  website/docs/examples/parameterized-tests.mdx
  website/docs/examples/promises.mdx
  website/docs/philosophy.mdx
  website/docs/tutorials/good-practices.mdx
Labels: documentation

#625 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#626 refactor: restructure `it` for future method extensions
  fixtures/no-runner/basic-logs.test.ts
  src/modules/helpers/it/core.ts
  src/modules/helpers/test.ts
  src/modules/index.ts
  test/e2e/background-process.test.ts
  test/e2e/basic-logs.test.ts
  test/e2e/before-and-after-each.test.ts
  test/e2e/config-files.test.ts
  test/e2e/each-api/failure.test.ts
  test/e2e/each-api/order.test.ts
  test/e2e/exit-code.test.ts
  test/e2e/fail-fast.test.ts
  test/e2e/failure.test.ts
  test/e2e/runners.test.ts
  test/e2e/watch.test.ts
  test/integration/assert/assert-no-message.test.ts
  test/integration/assert/assert.test.ts
  test/integration/containers/test-docker-compose.test.ts
  test/integration/containers/test-dockerfile.test.ts
  test/integration/it/each/each-options-promise.test.ts
  test/integration/it/each/each-options.test.ts
  test/integration/it/it.test.ts
  test/integration/strict/assert-no-message.test.ts
  test/integration/strict/assert.test.ts
  test/integration/wait-for/wait-for-port.test.ts
  test/unit/args.test.ts
  test/unit/env-services.test.ts
  test/unit/logs.test.ts
  test/unit/map-tests.test.ts
  test/unit/run-test-file.test.ts
  test/unit/run-tests.test.ts
  test/unit/watch.test.ts
Labels: boilerplate

#628 docs: introduce pt-BR translation
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/documentation/poku/config-files.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/documentation/poku/options/exclude.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/documentation/poku/options/filter.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/documentation/poku/options/parallel.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/documentation/poku/options/platform.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/index.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/philosophy.mdx
Labels: documentation

#630 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#632 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies
