Repository wellwelwel/poku, pull requests merged in 2024-05, with the labels that each got.

#226 feat: add fail-fast option
  src/@types/poku.ts
  src/bin/index.ts
  src/services/run-tests.ts
Labels: cli, test runner

#232 chore(website): remove dependabot
  .github/dependabot.yml
Labels: website, dependencies

#234 chore: update dependencies manually
  package-lock.json
  package.json
  website/package-lock.json
  website/package.json
Labels: dependencies

#235 ci: add Node.js 21 to matrix
  .github/workflows/ci.yml
  test/compatibility/node-21.test.ts
  test/docker/docker-compose.yml
  test/docker/node/21.Dockerfile
Labels: nodejs

#237 chore(fail-fast): support for multiple dirs
  package.json
  src/@types/poku.ts
  src/bin/index.ts
  src/modules/exit.ts
  src/modules/poku.ts
  src/services/run-tests.ts
  test/unit/assert-promise-no-message.test.ts
  website/docs/documentation/poku/options/fail-fast.mdx
  website/docs/documentation/poku/options/no-exit.mdx
Labels: cli, test runner, documentation

#242 fix(startScript): disable throw for Bun and Deno
  .nycrc
  CONTRIBUTING.md
  codecov.yml
  fixtures/server/bun.json
  fixtures/server/deno.json
  package.json
  src/@types/background-process.ts
  src/modules/create-service.ts
  src/services/pid.ts
  test/docker/bun/01.Dockerfile
  test/docker/bun/canary.Dockerfile
  test/docker/bun/latest.Dockerfile
  test/docker/deno/latest.Dockerfile
  test/docker/docker-compose.yml
  test/docker/playground/deno/Dockerfile
  test/e2e/node/background-process.test.ts
  test/helpers/capture-cli.test.ts
  website/docs/documentation/startScript.mdx
  website/docs/documentation/startService.mdx
  website/docs/examples/local-server.mdx
Labels: bun, deno, background process

#247 feat(kill, getPIDs): find and kill processes by ports and PIDs
  README.md
  package.json
  src/@types/background-process.ts
  src/bin/index.ts
  src/index.ts
  src/modules/create-service.ts
  src/modules/processes.ts
  src/services/pid.ts
  tea.yaml
  test/e2e/node/background-process.test.ts
  test/integration/import.test.ts
  website/docs/documentation/processes/_category_.json
  website/docs/documentation/processes/get-pids.mdx
  website/docs/documentation/processes/kill.mdx
  website/docs/documentation/startScript.mdx
  website/docs/documentation/startService.mdx
  website/docs/examples/local-server.mdx
  website/docs/index.mdx
Labels: processes

#255 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#256 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: dependencies

#259 docs: improve badges
  README.md
  website/docs/index.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/index.mdx
Labels: documentation

#260 feat(test runner): add concurrency limit option
  .github/workflows/ci_coverage-linux.yml
  .github/workflows/ci_coverage-osx.yml
  .github/workflows/ci_coverage-windows.yml
  CONTRIBUTING.md
  README.md
  package.json
  src/@types/poku.ts
  src/bin/index.ts
  src/services/run-tests.ts
  website/docs/documentation/poku/options/concurrency.mdx
Labels: cli, test runner

#261 chore(main): release 1.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#263 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#265 fix(assert): improve multi-depth logs
  fixtures/sintax/big-int.ts
  src/@types/assert.ts
  src/helpers/parse-assertion.ts
  src/modules/assert-promise.ts
  src/modules/assert.ts
  src/polyfills/object.ts
  test/unit/assert.result-type.test.ts
Labels: assert

#266 chore(main): release 1.12.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#267 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: dependencies

#272 ci: refactor deps bot
  .github/workflows/bot_deps-docs-update.yml
  .github/workflows/bot_deps-update.yml
  tools/workflows/get-prs.ts
Labels: dependencies

#276 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#278 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#281 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#284 feat(deno): support for custom `allow` permissions
  src/@types/poku.ts
  src/bin/index.ts
  src/helpers/get-arg.ts
  src/helpers/runner.ts
  test/unit/deno/allow.test.ts
  tools/workflows/get-prs.ts
  website/docs/documentation/poku/options/deno.mdx
Labels: deno, cli, test runner

#283 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#285 chore(main): release 1.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#291 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#298 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#300 feat(deno): allow direct CommonJS execution in Deno
  .gitattributes
  .github/workflows/ci_compatibility-deno.yml
  README.md
  fixtures/deno/exports.cjs
  fixtures/deno/module.cjs
  fixtures/deno/require.cjs
  package-lock.json
  package.json
  src/@types/poku.ts
  src/bin/index.ts
  src/configs/files.ts
  src/helpers/logs.ts
  src/helpers/parse-assertion.ts
  src/helpers/runner.ts
  src/modules/assert-promise.ts
  src/modules/assert.ts
  src/modules/create-service.ts
  src/modules/exit.ts
  src/modules/list-files.ts
  src/modules/poku.ts
  src/polyfills/deno.mts
  src/services/each.ts
  src/services/run-test-file.ts
  src/services/run-tests.ts
  test/docker/deno/latest.Dockerfile
  test/e2e/cli.test.ts
  test/unit/deno/cjs.test.ts
  tsconfig.json
  website/docs/documentation/poku/options/deno.mdx
Labels: enhancement, deno

#304 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#303 chore(main): release 1.14.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#309 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies

#310 chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

#313 chore(website): update dependencies
  website/package-lock.json
  website/package.json
Labels: website, dependencies
